.wrapper {
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 8px 28px 4px rgba(86, 91, 115, 0.15);
  min-height: max-content;
  height: 150px;
  background-color: var(--ifm-navbar-background-color);
  cursor: pointer;
  transition-duration: 0.2s;
  padding: 25px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper:hover {
  transform: translateY(-10px);
}

.header {
  font-size: 22.5px;
  color: #47d5cd;
  margin: 0;
}

.description {
  color: var(--main-text-color);
  margin: 0;
}

.link {
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

@media only screen and (max-width: 415px) {
  .wrapper {
    width: 100%;
  }
}
