.wrapper {
  text-align: center;
  background-color: var(--main-background);

  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 32px;
  width: 100%;
  font-weight: 500;
  margin: 0;
  padding: 0 10px;
  padding-top: 50px;
}
